.fixed__sidebar {
  position: fixed;
  top: 65px;
  z-index: 1039;
  width: 190px;
  height: calc(100vh - 65px);
}

.absolute__sidebar {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 35px;
}