@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap'); */
@layer base {
	:root {
		/* old */
		/* --background: 48 56% 98%; */
		/* --foreground: 0 0% 10%; */
		--background: 42, 60.34%, 77.25%;
		--foreground: 52.5, 25%, 93.73%;

		--card: 48 56% 98%;
		--card-foreground: 0 0% 10%;

		--popover: 48 56% 98%;
		--popover-foreground: 0 0% 10%;

		/* --primary: 42 35% 51%;
		--primary-foreground: 210 40% 98%; */
		--primary: 45, 20%, 3.92%;
		--primary-foreground: 0, 0%, 44.71%;
		/* new */
		--secondary: 36, 88.24%, 30%;
		--secondary-foreground: 43.17, 58.16%, 46.86%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 42 34% 87%;
		--accent-foreground: 42 35% 51%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		/* --border: 0 0% 73%; */
		--border: 41.54, 54.93%, 86.08%;
		--input: 0 0% 73%;
		--ring: 0 0% 10%;

		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		@apply bg-background font-open_sans text-foreground;
	}
}

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-lora;
	}
}

@layer utilities {
	/* Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

a {
	text-decoration: none;
}

select {
	width: 100%;
	vertical-align: middle;
	background: #fff
		url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
		no-repeat right 12px center;
	background-size: 8px 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}

select:disabled {
	cursor: none;
	opacity: 0.83;
}

select:focus {
	border-color: #0098c1;
	outline: 0;
}

select:focus::ms-value {
	color: #000;
	background: #fff;
}

select::ms-expand {
	opacity: 0;
}

.home-banner_background {
	background-image: url('../assets/homepage/home_banner.webp');
	background-color: gray;
	background-blend-mode: multiply;
	color: white;
	background-attachment: fixed;
}

/* custom stepper */
.c-stepper {
	display: flex;
	flex-wrap: wrap;
}

.c-stepper__item {
	flex: 1;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.c-stepper__item:before {
	--size: 2rem;
	content: '';
	position: relative;
	z-index: 1;
	display: block;
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	margin: 1rem auto 0;
	background-color: #d0d5dd;
}

.c-stepper__item__completed:before {
	background-color: #191919;
}

c-stepper__item:not(:last-child):after {
	content: '';
	height: 2px;
	background-color: #e0e0e0;
}

.c-stepper__item:not(:last-child):after {
	content: '';
	height: 2px;
	background-color: #e0e0e0;
	order: -1;
}

.c-stepper__item__completed:before {
	background-color: #191919;
	content: '\2713';
	color: #fff;
	font-size: 1.5rem;
}

.c-stepper__item:not(:last-child):after {
	content: '';
	position: relative;
	top: 2rem;
	left: 50%;
	height: 2px;
	background-color: #e0e0e0;
	order: -1;
}

.active-scrollspy {
	@apply rounded-sm bg-primary/25 text-foreground;
}

/* privacy policy */
.privacy-policy__header {
	background-image: url('../assets/privacy-policy/page-banner.jpg');
}

/* allergy advice */
.allergy-advice__header {
	background-image: url('../assets/allergy-advice/allergy_advice.jpg');
}

/* allergy advice table */
.section.content.fullwidth {
	width: 100%;
	padding: 0;
}

.responsive-table {
	max-width: 100%;
	display: block;
	overflow-y: auto;
}

.table.tablepress.allergens,
table.tablepress.allergen {
	border-left: 1px solid rgba(0, 0, 0, 0.12);
}

section.content table {
	width: 100%;
}

table.tablepress {
	/* font-size: 14px; */
	font-size: 15px;
}

.table.tablepress.allergens thead th,
table.tablepress.allergen tr.row-1 td,
table.tablepress.allergen tr.row-1 th,
table.tablepress.allergen tr.row-2 td,
table.tablepress.allergen tr.row-2 th,
table.tablepress.allergen tr.row-3 td,
table.tablepress.allergen tr.row-3 th {
	/* background-color: #03565a; */
	background-color: #ae9356;
	color: #fff;
	font-weight: 700;
	border-top: 1px solid rgba(255, 255, 255, 0.12);
	border-right: 1px solid rgba(255, 255, 255, 0.12);
	border-bottom: 0;
	/* text-align: center; */
}

table.tablepress.allergen tbody td {
	vertical-align: middle;
	border-right: 1px solid rgba(0, 0, 0, 0.12);
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

table.tablepress.allergen td,
table.tablepress.allergen th {
	padding: 6px 3px;
}

table.tablepress td,
table.tablepress th {
	line-height: 1.4;
}

.tablepress > * + tbody > * > *,
.tablepress > tbody > * ~ * > *,
.tablepress > tfoot > * > * {
	border-top: 1px solid var(--border-color);
}

.tablepress > :not(caption) > * > * {
	background: 0 0;
	border: none;
	box-sizing: content-box;
	float: none !important;
	padding: var(--padding);
	text-align: left;
	vertical-align: top;
}

table td {
	padding: 5px 8px;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.tablepress img {
	height: auto;
	width: 55px;
}

.tablepress img {
	border: none;
	margin: 0;
	max-width: none;
	padding: 0;
}

section.content table tbody tr:nth-child(2n) {
	background-color: #ebe4d5;
}

table.tablepress.allergen tr.row-3 td {
	background: unset;
	color: #332d21;
	font-weight: unset;
	border-right: 1px solid #0000001f;
	border-bottom: 1px solid #0000001f;
}

/* swiper */
.swiper {
	width: 100%;
	height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
	background-color: white;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	right: 10px;
	padding: 30px;
	color: #ae9356 !important;
	fill: #ae9356 !important;
	stroke: black !important;
}

/* loading spinner for root */
.loader {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: inline-block;
	border-top: 4px solid #fff;
	border-right: 4px solid transparent;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

.loader::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border-left: 8px solid #ae9356;
	border-bottom: 8px solid gray;
	animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* .custom-scrollbar::-webkit-scrollbar {
	@apply w-4
}

.custom-scrollbar::-webkit-scrollbar-track {
	@apply bg-[#e4e4e4] rounded-full;

}

.custom-scrollbar::-webkit-scrollbar-thumb {
	@apply rounded-full border-[2px] border-transparent bg-clip-content bg-primary;
} */

.custom-scrollbar::-webkit-scrollbar {
	height: 4px;
	width: 4px;
	background: gray;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.custom-scrollbar::-webkit-scrollbar-thumb:horizontal {
	background: #979797bb;
	border-radius: 10px;
}
